* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: "Inter", sans-serif;
    font-style: normal;
}
.hover:hover{
    cursor: pointer;
    
}



nav {
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu {
    display: flex;
    gap: 32px;
}

#menu li {
    list-style: none;
}

#menu li a {
    text-decoration: none;
    color: black;
}

#btn {
    color: #ffffff;
    padding: 12px 16px;
    background-color: #30B868;
    border-radius: 4px;
    border: none;
}

#banner {
    padding: 70px 120px 134px 120px;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

}

#content h1 {
    font-size: 70px;
    font-weight: 700;
    text-align: center;
}

#content p {
    color: white;
    text-align: center;
}


#early {
    border-radius: 1000px;
    align-items: center;
    gap: 6px;
    padding: 8px 12px;
    display: flex;
    background-color: white;
    color: #30B868;
    border: none;
}

#wh {
    color: white;
}

#gr {
    color: #30B868;
}

#first {
    color: #ffffff;
    padding: 12px 16px;
    background-color: #30B868;
    border-radius: 4px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#second {
    border-radius: 4px;
    align-items: center;
    gap: 6px;
    padding: 12px 16px;
    display: flex;
    color: white;
    background-color: transparent;
}

#btn-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

header section {
    background: url(hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    height: 674px;
}

#main #heading {
    max-width: 1360px;
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

#main #heading h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
    letter-spacing: 2px;
}

#main #heading p {
    color: #627382;
}

#cards-cont {

    max-width: 1360px;
    width: 85%;
    margin: 44px auto;
    display: flex;
    gap: 24px;
    height: 300px;
    align-items: center;
}

#main {
    padding-top: 16px;
    height: 616px;


}

#cards-cont .card {
    padding: 24px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.119);
    max-width: 322px;
    height: 300px;

}

.card p {
    color: #627382;
}

#cards-cont .card img {
    max-width: 60px;
    background-color: #F95555;
    height: 60px;
    border-radius: 50%;
    padding: 10px;

}

#cards-cont .card h3 {
    text-align: center;
}

#cards-cont .card p {
    text-align: center;
}

/* knowledge section  */
#knowledge {
    padding: 120px;
}

#knowledge-cont {
    display: flex;
    align-items: center;
    gap: 60px;
}

#knowledge-cont h4 {
    font-size: 16px;
    color: #30B868;
    margin-bottom: 16px;
}

#knowledge-cont h1 {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 16px;
}

#knowledge-cont span {
    color: #627382;
    font-size: 16px;

}

#checkbox {
    margin-top: 40px;

}

#checkbox p {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5px;
    margin-bottom: 16px;
}

#conclusion {
    padding: 2px 120px 120px 120px;
}

#conclusion #container {
    background-color: #F7F6F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 120px;
    border-radius: 20px;
}

#container h2 {
    font-size: 40px;
    font-weight: bold;
}

#container span {
    color: #627382;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 24px;
}

#container button {
    color: #ffffff;
    padding: 12px 16px;
    background-color: #30B868;
    border-radius: 4px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
}

#p {
    color: #627382;
    text-align: center;
}

footer {
    padding: 120px 120px 30px 120px;
    background-color: #001931;
    
}

#footer-cont {
    display: flex;
    justify-content: space-between;
}
#footer-cont p{
    color: white;
}

#copy {
    display: flex;
    margin-top: 80px;
    justify-content: center;
    padding-top: 30px;
    color: #FAFAFA;
    border-top: 1px solid #075628 ;
}
#link img{
    margin-right: 16px;
    margin-top: 16px;
}
#link p{
    
    font-size: 20px;
}

