* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

nav {
    padding: 16px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu {
    display: flex;
    gap: 32px;
}

#menu li {
    list-style: none;
}

#menu li a {
    text-decoration: none;
    color: black;
}

.btn {
    color: #ffffff;
    padding: 12px 16px;
    background-color: #30B868;
    border-radius: 4px;
    border: none;
}
#banner{padding: 70px 120px 134px 120px;
}
#content{
    display: flex;
    flex-direction: column ;
    align-items: center ;
    gap: 16px;
}
#early{
     border-radius:1000px ;
     align-items: center;
     gap: 6px;
     padding: 8px 12px;
     display: flex;
     background-color: white;
     color: #30B868;
     border: none;

}